<?xml version="1.0"?>

<!-- This macro adds a convenient TF frame at the tip of the closed gripper. -->
<!-- The position of the TF frame has not been measured at all and needs to be calibrated. -->

<robot name="robotiq_85_gripper_test" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="dual_arm_end_effector" params="prefix parent">
    <!-- <xacro:include filename="$(find robotiq_description)/urdf/robotiq_85_gripper.urdf.xacro"/> -->
    
    <!-- <xacro:robotiq_85_gripper prefix="${prefix}" parent="${parent}">
        <origin rpy="0.0 0.0 0.0" xyz="0.01 0 0"/>
    </xacro:robotiq_85_gripper> -->

    <link name="${prefix}_coupling">
      <visual>
        <origin rpy="0 ${pi/2} 0" xyz=".005 0 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.0375"/>
        </geometry>
        <material name="black">
        <color rgba=".1 .1 .1 1"/>
      </material>
      </visual>
      <collision>
        <origin rpy="0 ${pi/2} 0" xyz=".005 0 0"/>
        <geometry>
          <cylinder length="0.01" radius="0.0375"/>
        </geometry>
      </collision>
    </link>
    <joint name="${prefix}_coupling_joint" type="fixed">
      <parent link="${parent}" />
      <child link = "${prefix}_coupling" />
      <origin rpy="0 0 0" xyz="0 0 0"/>
    </joint>

    <!-- Add an additional link to plan with. Oriented like the UR ee_link frame. -->
    <joint name="${prefix}robotiq_85_tip_link_joint" type="fixed">
      <parent link="${parent}"/>
      <child link="${prefix}robotiq_85_tip_link"/>
      <origin rpy="0 0 0" xyz=".163 0 0"/>
    </joint>
    <link name="${prefix}robotiq_85_tip_link"/>
  </xacro:macro>
</robot>
